@charset "ISO-8859-1";
.header
{
	color:green;
	text-align: center;
}

.midArea
{
	text-align: center;
}
#utilityTitle
{
	color:red;
}
#version{
	color:black;
	font-size: 0.35em;
}
.statusHeight{
	height: 180px;
    overflow: auto;
}
#animation{
	display:none;
	
}
.percentage{
	font-size: 1.5em;
	color:red;
	float:right;
	
}
#release
{
	margin-bottom:25px;
	text-align : right;
}
.tableInner{
	display:none;
}
.numberWidth{
	width:70px;
}
.deleteImage{
	cursor: pointer;
}
.hide{
	display:none;
}
.deleteImage:hover {
 width:120%;
}

.blackButton{
	background-color:black;
	color:white !important;
}
#displayDiagram
{
	display:none;
	position:absolute;
	top:5%;
	left:5%;
	z-index : 2;
	border: dashed orange 2px;
}
.container{
	position:relative;
}
#closeButton{
	position:absolute;
	top:0px;
	left:0px;
	color:white;
	z-index : 3;
	background-color:black;
}
#screen
{
	display:none;
	width:100%;
	height:800px;
	z-index : 1;
	background-color: rgba(0,0,0,0.5);
	position:absolute;
	top:0px;
	left:0px;
}
.showDiagram{
	 background-color: #808040;
     color:white;
}
#diagramImage{
	width:100%;
}
#note
{
   border-radius: 25px;	
   background-color: #d2690b;
   color:white;
   padding:2px;
}